{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See http://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Texhika Shop{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet"
              href="{{ asset("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css") }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset("css/index.css") }}">
        <link rel="stylesheet" href="{{ asset("css/site.css") }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        <div class="navbar navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="{{ path('blog_index') }}" class="navbar-brand">TEXHIKA SHOP</a>

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            {% if is_granted('ROLE_EDITOR') or is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('admin_products') }}">
                                        Продукти
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_categories') }}">
                                        Категории
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('user_profile') }}">
                                        Моят профил
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('security_logout') }}">
                                        Изход
                                    </a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('admin_users') }}">
                                            Потребители
                                        </a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li>
                                    <a href="{{ path('cart_list') }}">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('user_profile') }}">
                                        Моят Профил
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('security_logout') }}">
                                        Изход
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li>
                                <a href="{{ path('user_register') }}">
                                    Регистрация
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('security_login') }}">
                                    Вход
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<div class="container-fluid body-container">
    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-12">
                {% block main %}{% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container-fluid modal-footer">
            <p>&copy; {{ "now"|date("Y") }} - Software University Foundation</p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}

</body>
</html>
