{% extends 'base.html.twig' %}

{% block body_id 'product' %}

{% block main %}
    <div class="col-sm-10 col-sm-offset-1">
        <div class="buttons">
            <div class="col-md-12 text-center">
                <h2 class="page-header">{{ product.name }}</h2>
            </div>
        </div>

        <div class="container-fluid product-info">
            <div class="col-md-4 text-center text-big">
                <strong>Price:</strong>
                {{ product.price|number_format(2) }} lv.
            </div>
            <div class="col-md-4 text-center text-big">
                <strong>Quantity:</strong> {{ product.quantity }}
            </div>
            <div class="col-md-4 text-center">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                    {% set btn = '' %}
                {% else %}
                    {% set btn %}
                        <a name="cart" class="btn btn-primary" href="{{ path('add_to_cart', {'id': product.id}) }}">Add
                            to
                            cart</a>
                    {% endset %}
                {% endif %}
                {{ btn }}
            </div>
        </div>

        <div class="data">
            <div class="pull-left">
                {% if product.imageName is null %}
                    <img src="/images/products/default.png" style="float: left">
                {% else %}
                    <img width="450" height="450" src="/images/products/{{ product.imageName }}">
                {% endif %}
            </div>
            <div class="description">{{ product.description|raw }}</div>
        </div>
    </div>
{% endblock %}