{% extends 'base.html.twig' %}

{% block main %}
    <div class="well">
        <span class="categories-product-title">Categories</span>
        <span class="add-group"><a class="btn btn-success right" href="{{ path('add_category') }}">Add category</a></span>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Name</th>
            <th class="text-center">Products</th>
            <th class="text-center">Discount</th>
            <th class="text-center"></th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.quantity }}</td>
                <td>{{ category.discount }}%</td>
                <td>
                    <a href="{{ path('edit_category', {'id' : category.id}) }}"><span class="glyphicon glyphicon-edit edit-cat"></span></a>
                    <a href="#" data-id="{{ category.id }}"><span class="glyphicon glyphicon-trash delete-category trash"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.delete-category').on('click', function () {
            let categoryId = parseInt($(this).parent().attr('data-id'));

            $.confirm({
                title: 'Confirm the Delete',
                content: "After clicking Confirm this category will be deleted",
                buttons: {
                    confirm: function () {
                        let route = "{{ path('category_delete', {'id' : 'categoryID'}) }}";
                        window.location = route.replace("categoryID", categoryId);
                    },
                    cancel: function () {
                    }
                }
            })
        });
    </script>
{% endblock %}