{% extends 'base.html.twig' %}

{% block body_id 'cart' %}

{% block main %}
    {#{{ dump(products) }}#}
    <div id="cart-products">
        {% if products is iterable %}
            {% set wholePrice = 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">Image</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for id, product in products %}
                    {% if discount == 0 %}
                        {% set price %}
                            <td>{{ product.price|number_format(2) }} lv.</td>
                        {% endset %}
                    {% else %}
                        {% set price %}
                            <td>
                                <strike>{{ product.price|number_format(2) }} lv.</strike>
                                <span style="color: red">{{ ((product.price * (100 - discount)) / 100)|number_format(2) }}
                                    lv.</span>
                            </td>
                        {% endset %}
                    {% endif %}
                    <tr>
                        <td><img class="small-picture" src="/images/products/{{ product.imageName }}"></td>
                        <td><a href="/product/{{ id }}">{{ product.name }}</a></td>
                        {{ price }}
                        <td>{{ product.quantity }}</td>
                        <td><a href="#" data-id="{{ id }}"><span
                                        class="glyphicon glyphicon-remove remove-element"></span></a></td>
                    </tr>
                    {% set wholePrice = wholePrice + product.price * product.quantity %}
                {% endfor %}
                <tr>
                    <td class="text-right" id="priceAll" colspan="5">
                        Price of allproducts: {% if discount == 0 %}
                            {{ wholePrice|number_format(2) }} lv.
                        {% else %}
                            <strike>{{ wholePrice|number_format(2) }} lv.</strike>
                            <span style="color: red">{{ ((wholePrice * (100 - discount)) / 100)|number_format(2) }} lv.</span>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <a id="btn-buy" class="btn btn-primary" href="#">Buy all</a>
            </div>
        {% else %}
            {{ products }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.remove-element').on('click', function () {
            let productId = parseInt($(this).parent().attr('data-id'));

            $.confirm({
                title: 'Confirm the Delete',
                content: "After clicking Confirm this item will be removed from the cart",
                buttons: {
                    confirm: function () {
                        let route = "{{ path('remove_element_from_cart', {'id':'productID'}) }}";
                        window.location = route.replace("productID", productId);
                    },
                    cancel: function () {
                    }
                }
            })
        });

        $('#btn-buy').on('click', function () {
            $.confirm({
                title: 'Confirm the Buy',
                content: 'Are you sure you want to buy?',
                buttons: {
                    buy: function () {
                        window.location = "{{ path('buy_all_products') }}"
                    },
                    cancel: function () {

                    }
                }
            })
        });
    </script>
{% endblock %}