{% extends 'base.html.twig' %}

{% block body_id 'cart' %}

{% block main %}
    {#{{ dump(products) }}#}
    <div id="cart-products">
        {% if products is iterable %}
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">Снимка</th>
                    <th class="text-center">Име</th>
                    <th class="text-center">Цена</th>
                    <th class="text-center">Количество</th>
                </tr>
                </thead>
                <tbody>
                {% for id, product in products %}
                    {#{{ dump(product) }}#}
                    <tr>
                        <td><img class="small-picture" src="/images/products/{{ product.imageName }}"></td>
                        <td><а href="/product/{{ product.id }}">{{ product.name }}</а></td>
                        <td>{{ product.price }} лв.</td>
                        <td>{{ product.quantity }}</td>
                        <td><a href="#"><span data-id="{{ id }}" class="glyphicon glyphicon-remove remove-element"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div>
                <a id="btn-buy" class="btn btn-primary" href="{{ path('buy_all_products') }}">Buy all</a>
            </div>
        {% else %}
            {{ products }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.remove-element').on('click', function () {
            let productId = parseInt($(this).attr('data-id'));

            $.confirm({
                title: 'Confirm the delete',
                content: "After clicking Confirm this item will be removed from the cart",
                buttons: {
                    confirm: function () {
                        let route = "{{ path('remove_element_from_cart', {'id':'productID'}) }}";
                        window.location = route.replace("productID", productId);
                    },
                    cancel: function () {

                    }
                }
            })
        })
    </script>
{% endblock %}