{% extends 'base.html.twig' %}

{% block body_id 'cart' %}

{% block main %}
    {#{{ dump(products) }}#}
    <div id="cart-products">
        {% if products is iterable %}
            {% set wholePrice = 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">Image</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for id, product in products %}
                    <tr>
                        <td><img class="small-picture" src="/images/products/{{ product.imageName }}"></td>
                        <td><a href="/product/{{ id }}">{{ product.name }}</a></td>
                        <td>{{ product.price|number_format(2) }} lv.</td>
                        <td>{{ product.quantity }}</td>
                        <td><a href="#"><span data-id="{{ id }}"
                                              class="glyphicon glyphicon-remove remove-element"></span></a></td>
                    </tr>
                    {% set wholePrice = wholePrice + product.price * product.quantity %}
                {% endfor %}
                <tr><td class="text-right" id="priceAll" colspan="5">Price of all products: {{ wholePrice|number_format(2) }} lv.</td></tr>
                </tbody>
            </table>
            <div>
                <a id="btn-buy" class="btn btn-primary" href="{{ path('buy_all_products') }}">Buy all</a>
            </div>
        {% else %}
            {{ products }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.remove-element').on('click', function () {
            let productId = parseInt($(this).attr('data-id'));

            $.confirm({
                title: 'Confirm the delete',
                content: "After clicking Confirm this item will be removed from the cart",
                buttons: {
                    confirm: function () {
                        let route = "{{ path('remove_element_from_cart', {'id':'productID'}) }}";
                        window.location = route.replace("productID", productId);
                    },
                    cancel: function () {
                    }
                }
            })
        })
    </script>
{% endblock %}