{% extends 'base.html.twig' %}

{% block body_id 'products' %}

{% block main %}
    <div class="text-center">
        <h2>Products</h2>
    </div>
    <div id="category-products" class="text-center" style="display: flex">
        {% for product in products %}
            <div class="col-md-4 text-center border product">
                <div class="text-big categories-product-title">{{ product.name }}</div>
                <div><img class="categories-image" src="/images/{{ product.imageName }}"></div>
                <div>{{ product.description|slice(0, 200) }}...</div>
                <p class="important-text"><strong>Price:</strong> {{ product.price }} лв.</p>
                <p class="important-text"><strong>Quantity:</strong> {{ product.quantity }}</p>
                <div><a class="btn btn-primary" href="/product/{{ product.id }}">Научи повече</a></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
