{% extends 'base.html.twig' %}

{% block body_id 'products' %}

{% block main %}
    <div class="text-center products-view">
        <h2>Products</h2>
        {% for products in result %}
            <div class="row products-row">
                {% for product in products %}
                    {% if discount == 0 %}
                        {% set discountSpan %}
                        {% endset %}
                        {% set price %}
                            <p class="important-text"><strong>Price:</strong> {{ product.price|number_format(2) }} lv.
                            </p>
                        {% endset %}
                    {% else %}
                        {% set discountSpan %}
                            <p class="important-text"><strong>Price:</strong> <span class="discount">-{{ discount }}%</span></p>
                        {% endset %}
                        {% set price %}
                            <p class="important-text">
                                <strong>Price:</strong>
                                <strike>{{ product.price|number_format(2) }} lv.</strike>
                                <span style="color: red">{{ ((product.price * (100 - discount)) / 100)|number_format(2) }}
                                    lv.</span>
                            </p>
                        {% endset %}
                    {% endif %}
                    <div class="col-md-3 text-center border product">
                        <div class="text-big categories-product-title">{{ product.name }}</div>
                        <div><a href="/product/{{ product.id }}"><img class="categories-image"
                                                                      src="/images/products/{{ product.imageName }}"></a>
                        </div>
                        <div>{{ product.description|slice(0, 200) }}...</div>
                        <hr>
                        {{ discountSpan }}
                        {{ price }}
                        <p class="important-text"><strong>Quantity:</strong> {{ product.quantity }}</p>
                        <hr>
                        <div><a class="btn btn-primary learn-more" href="/product/{{ product.id }}">Learn more</a></div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        {#{{ dump(disount) }}#}
    </div>
{% endblock %}
