{% extends 'base.html.twig' %}

{% block body_id 'product' %}

{% block main %}
    <div class="buttons">
        <div class="col-md-12 text-center">
            <h2 class="page-header">{{ product.name }}</h2>
        </div>
    </div>

    <div class="container-fluid product-info">
        <div class="col-md-4 text-center text-big">
            <strong>Цена:</strong> {{ product.price }} лв.
        </div>
        <div class="col-md-4 text-center text-big">
            <strong>Количество:</strong> {{ product.quantity }}
        </div>
        <div class="col-md-4 text-center">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                {% set disabled = ' disabled' %}
            {% else %}
                {% set disabled = '' %}
            {% endif %}
            <a name="cart" class="btn btn-primary{{ disabled }}" href="{{ path('add_to_cart', {'id': product.id}) }}">Добави
                в
                количката</a>
        </div>
    </div>

    <div class="data">
        <div class="pull-left">
            {% if product.imageName is null %}
                <img src="/images/default.png" style="float: left">
            {% else %}
                <img width="450" height="450" src="/images/products/{{ product.imageName }}">
            {% endif %}
        </div>
        <div class="description">{{ product.description }}</div>
    </div>
{% endblock %}