{% extends 'base.html.twig' %}

{% block main %}

    <div class="well">
        <span class="categories-product-title">Users</span>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Email</th>
            <th class="text-center">Full Name</th>
            <th class="text-center">Money</th>
            <th class="text-center">Possessions</th>
            <th class="text-center">Banned</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for user in users %}
            {% if (user.ban == 1) %}
                {% set class = "danger" %}
                {% set banned = "Yes" %}
                {% set aBan %}
                    <a href="#" data-id="{{ user.id }}"> <span
                                class="glyphicon glyphicon-ok-circle view unban-user"></span></a>
                {% endset %}
            {% else %}
                {% set class = "" %}
                {% set banned = "No" %}
                {% set aBan %}
                    <a href="#" data-id="{{ user.id }}"> <span
                                class="glyphicon glyphicon-ban-circle trash ban-user"></span></a>
                {% endset %}
            {% endif %}

            <tr class={{ class }}>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.money|number_format(2) }} lv.</td>
                <td><a href="{{ path('list_user_possessions', {'id' : user.id}) }}">Items</a></td>
                <td>{{ banned }}</td>
                <td>
                    <a href="{{ path('edit_user', {'id' : user.id}) }}"><span
                                class="glyphicon glyphicon-edit edit"></span></a>
                    {{ aBan }}
                    <a href="#" data-id="{{ user.id }}"><span
                                class="glyphicon glyphicon-trash delete-user user-trash"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $('.ban-user').on('click', function () {
                let userId = parseInt($(this).parent().attr('data-id'));

                $.confirm({
                    title: 'Confirm the Ban',
                    content: "After clicking Confirm this user will be banned",
                    buttons: {
                        confirm: function () {
                            let route = "{{ path('ban_user', {'id' : 'userID'}) }}";
                            window.location = route.replace("userID", userId);
                        },
                        cancel: function () {
                        }
                    }
                })
            });


            $('.unban-user').on('click', function () {
                let userId = parseInt($(this).parent().attr('data-id'));

                $.confirm({
                    title: 'Confirm the Unban',
                    content: "After clicking Confirm this user will be unbanned",
                    buttons: {
                        confirm: function () {
                            let route = "{{ path('unban_user', {'id' : 'userID'}) }}";
                            window.location = route.replace("userID", userId);
                        },
                        cancel: function () {
                        }
                    }
                })
            });

            $('.delete-user').on('click', function () {
                let userId = parseInt($(this).parent().attr('data-id'));

                $.confirm({
                    title: 'Confirm the Delete',
                    content: "After clicking Confirm this user will be removed permanently",
                    buttons: {
                        confirm: function () {
                            let route = "{{ path('delete_user', {'id' : 'userID'}) }}";
                            window.location = route.replace("userID", userId);
                        },
                        cancel: function () {
                        }
                    }
                })
            })
        </script>
    {% endblock %}