{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content span=8 offset=2">
        {% if app.session.flashBag.has('error') %}
            <div>
                {% for message in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="well">
            {{ form_start(edit_form) }}
            <fieldset>
                <legend>Edit User</legend>
                {{ form_widget(edit_form) }}
                <div class="form-group">
                    <div>
                        <a class="btn btn-danger" href="#">Reset</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </fieldset>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('label').addClass('col-sm-4 control-label');
            $('form').addClass('form-horizontal');
            $('fieldset div').addClass('form-group');
            $('fieldset div:last-child div').attr('class', 'col-sm-4 col-sm-offset-4');
        });
    </script>
{% endblock %}