{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
    <div class="well">
        <h2 class="username">{{ user.fullName }}</h2>
        <span>Money in the bank: {{ user.money|number_format(2) }} lv.</span>
    </div>
    <table class="table text-center">
        <thead>
        <tr>
            <th class="text-center">Image</th>
            <th class="text-center">Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Quantity</th>
        </tr>
        </thead>
        <tbody>
        <h3>Моите предмети</h3>
        {% for product in boughtProducts %}
            <tr>
                <td><img class="small-picture" src="/images/products/{{ product.imageName }}"></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }} лв.</td>
                <td>{{ product.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
